.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 300px;
}

.spinner {
  width: 48px;
  height: 48px;

  border: 5px solid #e5e7eb;
  border-top: 5px solid #5b21b6;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}